.input {
  width: 149px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  row-gap: 0px;
  // padding: 6px 42px 6px 42px;
  overflow: hidden;
  background: var(--grey);
  border-color: var(--middle);
  border-width: 1px;
  border-style: solid;
  .input::placeholder {
    flex-shrink: 0;
    width: 65px;
    height: 20px;
    color: #3d3d3d;
    font-family: 'Stick No Bills';
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
  }
}
